ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: limegreen;
    overflow: hidden;
}

li, .dropdown {
    float: left;
    display: inline-block;
}

li a, .dropbtn {
    display: block;
    color: white;
    text-decoration: none;
    padding: 16px 16px;
    text-decoration: none;

}

.right {
    float: right;
    margin-left: 25px;
}

li a:hover:not(.active), .dropdown:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: limegreen;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.dropdown-content a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
}

.dropdown-content a:hover {
    background-color: #111;
}

.dropdown:hover .dropdown-content {
    display: block;
}
