*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    font-size: 14px;
    font-family: Arial;
    font-style: normal;
    background-color: #fff;
    color: #000;
    text-align: left;
}
.container .top-line{
    width: 100%;
    background-color: #f26d5c;
    height: 4px;
}
header{
    width: 100%;
}
.top-header{
    width: 100%;
    background-color: #f2f2f2;
}
.info-icons{
    width: 1170px;
    margin: 0px auto;
}
