*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    font-size: 14px;
    font-family: Arial;
    font-style: normal;
    background-color: #fff;
    color: #000;
    text-align: left;
}
.container{
    width: 100%;
}
.container .top-line{
    width: 100%;
    background-color: #f26d5c;
    height: 4px;
    float: left;
}
header{
    width: 100%;
    float: left;
}
.top-header{
    width: 100%;
    background-color: #726a68;
    float: left;
}
.info-icons{
    width: 1170px;
    margin: 0px auto;
}
.info{
    width: 70%;
    float: left;
    padding: 20px 0px;
}
.info ul{
    float: left;
    list-style-type: none;
    width: 100%;
}
.info li{
    float: left;
    padding-right: 20px;
}
.info li img{
    float: left;
    padding: 0px 10px 0px 0;
}
.info li p{
    float: left;
    padding: 5px 0px 0px 0;
    font-size: 13px;
    font-weight: bold;
}
.icons{
    width: 30%;
    float: right;
    text-align: left;
    padding: 20px 0px;
}
.icons ul{
    float: left;
    list-style-type: none;
    width: 100%;
}
.icons li{
    float: left;
    padding-right: 20px;
}
.icons li img{
    padding: 0px 10px 0px 0;
}
