*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    font-size: 14px;
    font-family: Arial;
    font-style: normal;
    background-color: #fff;
    color: #000;
    text-align: left;
}
.container{
    width: 100%;
}
.container .top-line{
    width: 100%;
    background-color: #f26d5c;
    height: 4px;
    float: left;
}
header{
    width: 100%;
    float: left;
}
.top-header{
    width: 100%;
    background-color: #726a68;
    float: left;
}
.info-icons{
    width: 1170px;
    margin: 0px auto;
}
.info{
    width: 76%;
    float: left;
    padding: 16px 0 15px;
}
.info ul{
    float: left;
    list-style-type: none;
    width: 100%;
}
.info li{
    float: left;
    padding-right: 25px;
}
.info li img{
    float: left;
    padding-right: 10px;
}
.info li p{
    float: left;
    padding-top: 5px;
    font-size: 10px;
    font-weight: bold;
}
.icons{
    width: 24%;
    float: right;
    padding: 16px 0 15px 80px;
}
.icons ul{
    float: left;
    list-style-type: none;
    width: 100%;
}
.icons li{
    float: left;
    padding-right: 20px;
}
.icons li:last-child{
    padding-right: 0px;
}
.nav-menu{
    width: 100%;
    float: left;
    background-color: #fff;
}
.logo-menu{
    width: 1170px;
    margin: 0 auto;
}
.logo-menu .logo{
    float: left;
    padding: 33px 0px;
}
.logo a{
    width: 100%;
    float: left;
}
.logo a img{
    float: left;
}
.menu{
    float: right;
}
.menu ul{
    float: left;
    width: 100%;
    list-style-type: none;
     padding: 51px 0 71px;
}
.menu li{
    float: left;
    padding-right: 50px;
}
.menu li span{
    float: left;
    background-color: #db6767;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}
.menu li a{
    float: left;
    text-decoration: none;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
