*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #333;
}

#container{
  width: 90%;
  margin: 0px auto;
}
